header {
  /* position: absolute; */

  height: 400px;
  min-width: 100%;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: lightblue;
  background-image: url(../images/tweeter.jpeg)
}

.name {
  font-size: 35px;
}