.new-tweet {
  margin: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
display: flex;
flex-direction: column;
justify-content: center;

}

textarea{
resize: none;
border-bottom: 5px solid black;
border-top: none;
border-right: none;
background-color: #f4f1ec;

}

label{
  font-size: 1.3em;
}

.button-counter {
  display: flex;
  justify-content: space-between;
  padding: .7em;

}

.counter {
 font-family: 'Bungee', cursive;

}


.button {
background-color: #4056a1;
font-family: 'Bungee', cursive;
color : white;
}

.counterDanger {
  color: red
}

.error {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: red;
  font-size: 1em;
  border: 5px solid red ;
  visibility: hidden;

}



#warning {
  margin: 35px;
  color: red;
}