article {
  border: 5px solid black ;
  height: 17.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1em 2em;
  word-wrap: break-word;
}

article:hover {
  box-shadow: .45em .45em lightgray;
}


article header.tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f4f1ec;
  background-image: none;
  color: black;
  padding: 1em;


}

.profile {
  display: flex;
}

.profile-pic{
  width: 5em;
  height: 5em;

}

.tweet-footer{
  border-top: 5px solid black ;
}

.profile-handle{
  color: rgb(114, 114, 114);
  margin-right: 1em;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 2em;
}

.fa-solid {
  color: navy;
}

.fa-solid:hover {
  color: rgb(220,20,60)
}

article > p {
  margin-left: 2em;
}